/*
2017.05.15 made by Youngwuk Jeon

  <Update Log>

  
*/


page-content-write-sub {

  .card-ios, .card-md, .card-wp {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
  }

  .datetime-ios, .datetime-md, .datetime-wp {
    padding: 5px;
  }
}