/*
2017.05.07 made by Youngwuk Jeon

  <Update Log>


*/



page-login {


    .logo_area {
        width: 100%;
        height: 150px;
        padding-left: calc(50% - 150px);
        padding-top: 15px;
        background: rgb(68, 114, 196);
    }

    .login_area {
        padding: 16px;
    }

    .button {
        width: 120px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .regist {
        margin-left: calc(50% - 120px);
    }

    .forget_pw {
        margin-top: 1rem;
        margin-bottom: 3rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(68, 114, 196);
    }

    .divider {
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        color: #555;
    }

    .divider div {
        display: inline-block;
    }

    .gray_line {
        width: 120px;
        height: 1.5px;
        margin: 0px 5px 2px 5px;
    }

    .tp_label {
        margin-bottom: 1rem;
        margin-left: calc(50% - 150px);
        font-size: 1rem;
        font-weight: bold;
        color: black; 
    }

    .tp_login_area {
        padding-left: calc(50% - 130px);
    }

    .tp_login {
        display: inline-block;
        margin: 2px;
        // margin-bottom: 3px;
        // padding-left: calc(50% - 103px);
        // border-radius: 5px;
    }


}

