/*
2017.06.28 made by Youngwuk Jeon

  <Update Log>


*/

page-user-pw-search {
    .email_area {
        padding: 8px; 
    }

    .card-ios, .card-md, .card-wp {
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
    }
}
